PORT=5000
FIREBASE_SERVICE_ACCOUNT_KEY_PATH=./path/to/key.json

# SMTP settings for email broadcast
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

# Paystack webhook verification
PAYSTACK_SECRET_KEY=sk_test_a217b660ce0e977ac5a8d7066845db34ef5d21c4
